<div class="container z-depth-5">
  <form action="/auth/login" method="POST">
    <label for="auth-email">Email</label>
    <input id="auth-email" type="email" name="email">

    <label for="auth-password">Password</label>
    <input id="auth-password" type="password" name="password">

    <input  value="Log In" type="submit" class="waves-effect waves-light btn green accent-3">
  </form>
</div>
