<h2>Homepage</h2>

<div class="search">
    <form action="/show" method="GET">
        <label for="cuisine">Cuisine Type:</label>
        <input id="cuisine" type="text" name="cuisine" placeholder="Itialian, American, etc." required>
        <br>
        <label for="diet">Diet:</label>
        <input id="diet" type="text" name="diet" placeholder="Paleo, Vegitarian etc.">
        <br>
        <button type="submit">Search</button>
    </form>
</div>