<div class="container">
<h2>The emulsion of good eats and dietary restrictions</h2>
<h3>What would you like to eat?</h3>

<% if(!currentUser) { %>
<p>Please <a href="/auth/signup">signup</a> or <a href="/auth/login">login</a> to search</p>
<% } else { %>
    <div class="input-field col s12">
        <form action="/show" method="GET">
            <label for="cuisine">Choose a Cuisine:</label>
            <select id="cuisine" name="cuisine" required>
                <option value="" disabled selected>Your cuisine choice</option>
                <option value="African">African</option>
                <option value="American">American</option>
                <option value="British">British</option>
                <option value="Cajun">Cajun</option>
                <option value="Caribbean">Caribbean</option>
                <option value="Chinese">Chinese</option>
                <option value="Eastern European">Eastern European</option>
                <option value="European">European</option>
                <option value="French">French</option>
                <option value="German">German</option>
                <option value="Greek">Greek</option>
                <option value="Indian">Indian</option>
                <option value="Irish">Irish</option>
                <option value="Italian">Italian</option>
                <option value="Japanese">Japanese</option>
                <option value="Jewish">Jewish</option>
                <option value="Korean">Korean</option>
                <option value="Latin American">Latin American</option>
                <option value="Mediterranean">Mediterranean</option>
                <option value="Mexican">Mexican</option>
                <option value="Middle Eastern">Middle Eastern</option>
                <option value="Nordic">Nordic</option>
                <option value="Southern">Southern</option>
                <option value="Spanish">Spanish</option>
                <option value="Thai">Thai</option>
                <option value="Vietnamese">Vietnamese</option>
            </select><br>
            <label for="diet">and a Diet:</label>
            <select id="diet" name="diet" required>
                <option value="" disabled selected>Your diet choice</option>
                <option value="">No Dietary Restrictions</option>
                <option value="Gluten Free">Gluten Free</option>
                <option value="Ketogenic">Ketogenic</option>
                <option value="Vegetarian">Vegetarian</option>
                <option value="Lacto-Vegetarian">Lacto-Vegetarian</option>
                <option value="Ovo-Vegetarian">Ovo-Vegetarian</option>
                <option value="Vegan">Vegan</option>
                <option value="Pescetarian">Pescetarian</option>
                <option value="Paleo">Paleo</option>
                <option value="Primal">Primal</option>
                <option value="Whole30">Whole30</option>
                <!-- <option><input list="diet" type="text"></option> -->
            </select>    
    </div><br>
    <button type="submit" class="waves-effect waves-light btn light-blue darken-1"><i class="material-icons left">search</i>Search</button>
    </form>
<% }%>
</div>

