<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Emulsio</title>
    <!-- materialize -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/css/style.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
   
  </head>
  <body>
    <%- include('partials/nav') %>
    
    <%- body %>
    
    <% include partials/alerts %> 
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('select')
        var instances = M.FormSelect.init(elems, {}) 
        var elems2 = document.querySelectorAll('.sidenav');
        var instances2 = M.Sidenav.init(elems2, {});
      })
    </script> 
  </body>
</html>
