<div class="container">
    <h1>Your Recipie Folders:</h1>

    <% if(bins) { %>
        <% bins.forEach( f =>{ %>
            <div class="container-2">
                <div class="userFolder">
                    <a href="/profile/folders/show/<%= f.id %>"><%= f.userTitle %> </a><br>
                    <form method="POST" action="/profile/folders?_method=PUT">
                        <input type="hidden" name="id" value="<%= f.id %>">
                        <input type="text" name="newName" placeholder="Change folder name?" required>
                        <button  type="submit" class="waves-effect waves-light btn yellow darken-2"><i class="material-icons left">input</i>Update folder name</button>
                    </form>

                    <form method="POST" action="/profile/folders?_method=DELETE">
                        <input type="hidden" name="id" value="<%= f.id %>">
                        <button type="submit" class="waves-effect waves-light btn red accent-4"><i class="material-icons left">delete</i>Remove folder</button>
                    </form>
                </div>
            </div>
        <% }) %> 
    <% } %> 
</div>